

<div class="row">
  <div class="col-xs-12">
    <div class="box box-solid">
      <div class="box-header">
        <i class="fa fa-bar-chart-o"></i>
        <h3 class="box-title">Inputs</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-default btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-default btn-sm" data-widget="remove"><i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="row">
        {{#each inputs as |input|}} 
        	{{#if (equal input.type "dimmer")}}
        	<div class="col-xs-6 col-md-3 text-center">
        	{{ember-knob
             value= input.value 
             min="0" 
             max="100" 
             width="90" 
             height="90" 
             thickness="0.35" 
             angleOffset="-125" 
             angleArc="250" 
             displayInput="true" 
             displayPrevious="false" 
             lineCap="round" 
             readOnly="false" 
             inputColor = "#3c8dbc"
             fgColor="#3c8dbc" 
             bgColor="#EFEEEE"

        }}
        	<div class="knob-label">
            	<h5>{{input.name}}</h5>{{input.place}}
            </div>
            </div>
    	{{/if}}
    	{{/each}}
    	        
    	{{#each inputs as |input|}} 
        	{{#if (equal input.type "analog")}}
        	<div class="col-xs-6 col-md-3 text-center">
        	{{ember-knob
             value= input.value 
             min="0" 
             max="100" 
             width="90" 
             height="90" 
             thickness="0.35" 
             angleOffset="-125" 
             angleArc="250" 
             displayInput="true" 
             displayPrevious="false" 
             lineCap="round" 
             readOnly="false" 
             inputColor = "#3c8dbc"
             fgColor="#3c8dbc" 
             bgColor="#EFEEEE"

        }}
        	<div class="knob-label">
            	<h5>{{input.name}}</h5>{{input.place}}
            </div>
            </div>
    	{{/if}}
    	{{/each}}

    	{{#each inputs as |input|}} 
        	{{#if (equal input.type "digital")}}
        	<div class="col-xs-6 col-md-3 text-center">
        	{{ember-knob
             value= (if input.value "100" "0")
             min="0" 
             max="100" 
             width="90" 
             height="90" 
             thickness="0.35" 
             angleOffset="-125" 
             angleArc="250" 
             displayInput="true" 
             displayPrevious="false" 
             lineCap="round" 
             readOnly="false" 
             inputColor = "#3c8dbc"
             fgColor="#3c8dbc" 
             bgColor="#EFEEEE"

        }}
        	<div class="knob-label">
            	<h5>{{input.name}}</h5>{{input.place}}
            </div>
            </div>
    	{{/if}}
    	{{/each}}

    	{{#each inputs as |input|}} 
        	{{#if (equal input.type "sequential")}}
        	<div class="col-xs-6 col-md-3 text-center">
        	{{ember-knob
             value= input.value 
             min="0" 
             max="100" 
             width="90" 
             height="90" 
             thickness="0.35" 
             angleOffset="-125" 
             angleArc="250" 
             displayInput="true" 
             displayPrevious="false" 
             lineCap="round" 
             readOnly="false" 
             inputColor = "#3c8dbc"
             fgColor="#3c8dbc" 
             bgColor="#EFEEEE"

        }}
        	<div class="knob-label">
            	<h5>{{input.name}}</h5>{{input.place}}
            </div>
            </div>
    	{{/if}}
    	{{/each}}

          <!-- ./col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.box-body -->
       <div class="box-footer">
        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->