          <!-- Horizontal Form -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">NTP client</h3>
                <div class="box-tools pull-right" data-toggle="tooltip" title="Enabled">
                  {{btn-togle enable = ntp.enabled inactive = (unless true false)}}
                </div>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
				<div class="box-body">

          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-laptop"></i></span>
            {{input value= ntp.address0 class = "form-control" placeholder = "NTP server #0" disabled = (unless ntp.enabled true)}}
          </div>
                  <!-- /.input-group -->
          <br>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-laptop"></i></span>
            {{input value= ntp.address1 class = "form-control" placeholder = "NTP server #1" disabled = (unless ntp.enabled true)}}
          </div>
                  <!-- /.input-group -->
          <br>
                    <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-laptop"></i></span>
            {{input value= ntp.address2 class = "form-control" placeholder = "NTP server #2" disabled = (unless ntp.enabled true)}}
          </div>
                  <!-- /.input-group -->
          <br>
                    <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-laptop"></i></span>
            {{input value= ntp.address3 class = "form-control" placeholder = "NTP server #3" disabled = (unless ntp.enabled true)}}
          </div>
                  <!-- /.input-group -->
          <br>

			  		<div class="bootstrap-timepicker">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
							{{input class = "form-control timepicker" id="timepicker" placeholder = "NTP update interval HH:MM"	value= ntp.period disabled = (unless ntp.enabled true)}}
						</div>
						<!-- /.input group -->
						<br>
					</div>
					<!-- /.bootstrap-timepicker -->
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="button" class="btn btn-default" {{action "cancel"}}>Cancel</button>
                <div class=" pull-right">
                <button type="button" class="btn btn-primary" {{action "apply"}}>Apply</button>
                <button type="button" class="btn btn-primary" {{action "applyAndSave"}}>Apply and Save</button>
                </div>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->