<div class="small-box bg-{{color}}">
	<div class="inner">
		<h3>{{name}}</h3>
		<p>{{description}}</p>
	</div>
	<div class="icon">
		<i class="{{icon}}"></i>
	</div>
	<a href="#" class="small-box-footer">{{yeild}} <i class="fa fa-arrow-circle-right"></i>
	</a>
</div>