
<div class="wrapper">
    {{admin-lte-header data = model}}
    <nav class="sidebar-wrapper">
        {{admin-lte-sidemenu}}
    </nav>
    <section class="content-wrapper">
        {{outlet}}

    </section>
    {{admin-lte-footer}}
    {{admin-lte-control-sidebar}}
</div>
